# CMake build files  
backend/build/  

# Python virtual environment  
.venv/  

# Python temporary files  
__pycache__/  
*.pyc  
*.pyo  

# Backend output files  
lib/*.pyd  
lib/*.so  
lib/*.dll  

# Frontend output files  
bin/*.exe  
bin/*.out  
bin/*.a  

# Logs and temporary files  
*.log  
*.tmp  